# Environments
.env

# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
out/
build/

# Caches
cache/
.vite/
.eslintcache
.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db
